.btn {
    margin: 16px 0;
    display: block;
    background-color: #d3b673;
    width: 150px;
    height: 50px;
    line-height: 35px;
    padding: 6.5px 11px;
    font-size: 18px;
    color: white;
    /* float: right; */
}

.btn:hover {
    background-color: #cebc94;
    color: #000;
}

.btn_submit {
    background-color: rgb(70, 126, 209);
    border: 0.5px solid rgba(145, 112, 112, 0);
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.btn_submit:hover {
    background-color: rgb(199, 139, 139);
}

.input_img {
    margin-top: 20px;
}