.btn {
    margin: 10px;
    display: block;
    background-color: rgb(70, 126, 209);
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: white;
}

.btn:hover {
    background-color: rgb(199, 139, 139);
}

.btn_submit {
    background-color: rgb(70, 126, 209);
    border: 0.5px solid rgba(145, 112, 112, 0);
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.btn_submit:hover {
    background-color: rgb(199, 139, 139);
}

.input_img {
    margin-top: 20px;
}